.top-top
  .top-top__title
    仕事管理アプリ

.top-btn
  %ul.top-btn__list
    %li= link_to 'ログイン', new_user_session_path, class: "login"
    %li= link_to '新規登録', new_user_registration_path, class: "sign-up"