.group-top
  予定を編集してください
  = link_to group_path(@group.id), class: "group-top__index" do
    = icon('fa', 'arrow-circle-left', class: "group-top__left-icon")

= render partial: 'form', locals: { task: @task, group: @group }