.group-top
  編集するグループを選んでください
  = link_to groups_path, class: "group-top__index" do
    = icon('fa', 'arrow-circle-left', class: "group-top__left-icon")

.group-btn
  - current_user.groups.each do |group|
    =link_to edit_group_path(group.id), class: "edit_group" do
      .group-btn__contents
        .group-content
          .group-content__name
            = group.name