.group-top
  グループを編集してください
  = link_to edit_group_index_path, class: "group-top__index" do
    = icon('fa', 'arrow-circle-left', class: "group-top__left-icon")

= render partial: 'form', locals: { group: @group }