.group-show-btn {
  height: 90vh;
  padding: 0 4.5vw;
  &__title {
    height: 8vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span {
      display: inline-block;
    }
  }
  .dayoftheweek {
    height: 5vh;
    display: flex;
    align-items: flex-end;
    &__content {
      border: solid 1px black;
    }
    &__content2 {
      border-top: solid 1px black;
      border-right: solid 1px black;
      border-bottom: solid 1px black;
    }
    &__content, &__content2 {
      height: 3.5vh;
      width: 13vw;
      font-size: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .calendar-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &__start {
      border-left: solid 1px black;
    }
    &__start, &__other {
      height: 12vh;
      width: 13vw;
      border-right: solid 1px black;
      border-bottom: solid 1px black;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 3vh;
      text-align: center;
      cursor: pointer;
    }
    &__top {
      height: 30%;
      width: 100%;
      margin-bottom: 10%;
    }
    &__task {
      height: 60%;
      width: 100%;
      font-size: 2vh;
      &__top {
        height: 50%;
        background-color: cornflowerblue;
        span {
          vertical-align: middle;
        }
      }
      &__btn {
        height: 50%;
        background-color: orange;
        span {
          vertical-align: middle;
        }
      }
    }
  }
}

.group-task {
  height: 80vh;
  width: 50vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 0.4vh black;
  padding: 2vh;
  display: none;
  background-color: white;
  border-radius: 1vh;
  cursor: default;
  &__top {
    height: 20%;
    margin-bottom: 3vh;
    &__name {
      height: 60%;
      border-bottom: solid 0.3vh black;
      display: flex;
      align-items: flex-end;
      font-size: 4vh;
      position: relative;
      &__content {
        margin-left: 3vh;
      }
      &__edit {
        position: absolute;
        right: 1vw;
        font-size: 5vh;
        color: rgb(255, 98, 36);
      }
    }
    &__time {
      height: 40%;
      font-size: 3vh;
      display: flex;
      align-items: flex-end;
      &__content {
        margin-left: 3vh;
      }
    }
  }
  &__btn {
    font-size: 3vh;
    text-align: left;
    &__member {
      margin-bottom: 5vh;
    }
    &__content {
      width: 100%;
      &__content {
        width: 100%;
        padding: 2vh ;
      }
    }
    &__delete {
      position: absolute;
      right: 2.5vw;
      bottom: 2vh;
      color: rgb(255, 98, 36);
      font-size: 4vh;
      background-color: white;
      border-style: none;
      &__icon {
        cursor: pointer;
      }
    }
  }
}

.group-task-new {
  height: 20vh;
  width: 40vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 0.3vh black;
  padding: 2vh;
  background-color: white;
  border-radius: 1vh;
  cursor: default;
  display: none;
  &__top {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span {
      display: block;
      font-size: 2.5vh;
    }
  }
  &__btn {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .group-task-new__btn__path {
      display: block;
    }
  }
}