.group-show-btn {
  height: 90vh;
  padding: 0 4.5vw;
  &__title {
    height: 8vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span {
      display: inline-block;
    }
  }
  .dayoftheweek {
    height: 5vh;
    display: flex;
    align-items: flex-end;
    &__content {
      border: solid 1px black;
    }
    &__content2 {
      border-top: solid 1px black;
      border-right: solid 1px black;
      border-bottom: solid 1px black;
    }
    &__content, &__content2 {
      height: 3.5vh;
      width: 13vw;
      font-size: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .calendar-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &__start {
      border-left: solid 1px black;
    }
    &__start, &__other {
      height: 12vh;
      width: 13vw;
      border-right: solid 1px black;
      border-bottom: solid 1px black;
      display: flex;
      justify-content: center;
      padding-top: 1vh;
      font-size: 3vh;
      cursor: pointer;
      span {
        display: inline-block;
      }
    }
  }
}

.group-task {
  height: 80vh;
  width: 50vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 0.4vh black;
  padding: 2vh;
  display: none;
  background-color: white;
  &__top {
    height: 20%;
    margin-bottom: 3vh;
    &__name {
      height: 60%;
      border-bottom: solid 0.3vh black;
      display: flex;
      align-items: flex-end;
      font-size: 4vh;
      &__content {
        margin-left: 3vh;
      }
    }
    &__time {
      height: 40%;
      font-size: 3vh;
      display: flex;
      align-items: flex-end;
      &__content {
        margin-left: 3vh;
      }
    }
  }
  &__btn {
    font-size: 3vh;
    &__member {
      margin-bottom: 3vh;
    }
    &__content {

    }
  }

}