.top-top {
  height: 50vh;
  background-color: rgb(93, 181, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    width: 40vw;
    font-size: 5vh;
    text-align: center;
  }
}

.top-btn {
  height: 50vh;
  display: flex;
  justify-content: center;
  &__list {
    height: 100%;
    width: 30vw;
    text-align: center;
    font-size: 3vh;
    .login {
      text-decoration: none;
      display: block;
      margin: 7vh 0 5vh;
      color: black;
    }
    .sign-up {
      text-decoration: none;
      color: black;
    }
  }
}